body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: white;
    color: black;
    margin: 0;
    padding: 0;
}

header {
    background-color: aqua;
    color: white;
    padding: 10px;
    text-align: center;
}

.about {
    padding: 10px;
    margin: 10px auto;
    max-width: 600px;
    background-color: gray;
    border-radius: 15px;
    box-shadow: 0 1px 5px rgb(red, green, blue);
    color:black
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-size: 10px;
    color: black;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: grey;

}
